{% include head.html %}

<body>
    <div class="container-fluid px-0">

    {% include header-post.html %}

    <div class="container">
        {{ content }}
    </div>    

    {% include comentarios.html %}
    
    {% include footer.html %}

    </div><!-- FINAL DA container -->
</body>
</html>
